.bottomSheet{
    height: 300px;
    width: 300px;
    background-color: white;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-right: 50%;
    margin-left: 50%;
    border: 3px  #050440 solid;
}