.bottomSheet{
    height: 300px;
    width: 300px;
    background-color: white;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-right: 50%;
    margin-left: 50%;
    border: 3px  #050440 solid;
}


.logo{
    position: absolute;
    cursor: pointer;
 }

 @media only screen and (max-width: 600px) {
    .logo {
        right: 10px;
    }
  }

 //spin the logo
 @media (prefers-reduced-motion: no-preference){
     .logo {
         animation: logo-spin infinite 10s linear;
     }
 }

 @keyframes logo-spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg)
     }
 }