<div class="fixed-header" role="banner">
    <div class="mat-app-background">
      <contactinfo-bottomsheet-component></contactinfo-bottomsheet-component>
    </div>
    <div class="hamburger-bun">
      <div class="cheese" (click)="expandMenu()">
        <span style="margin-bottom:-9px;"></span>
        <span></span>
        <span style="margin-bottom:9px;"></span>
      </div>
      <div class="condiments"> 
        <ul class="hamburger-meat">
          <li><button (click)="showBizInquiry()" data-toggle="modal" data-target="#bizModal">Business Inquiry</button></li>
        </ul>
      </div>
    </div>
</div>
<div style="display: none;">
  <business-inquiry></business-inquiry>
</div>  