
.fixed-header {
    height: 110px;
    width:100%;
    position: fixed;
    z-index: 9999;
    background-color:transparent;
    top:0;
}

.hamburger-bun {
    height: 46px;
    width: 53px;
    position: absolute;
    right: 40px;
    top:30px;
    background-color: #a8a8caff;
    border: 3px solid #050440;
    border-radius: 7px;
    text-align:center;
    cursor: pointer;
}

.cheese{
    position: absolute;
    top:-15px;
}
.cheese span {
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
    z-index: 99;
    display: inline-block;
}
.condiments {
    display: none;
}

.hamburger-meat{
    position: absolute;
    right:40px;
    top:30px;
}

.expand{
    display: block !important;
}