<div class="fixed-header logo" role="banner">
    <div class="mat-app-background">
      <contactinfo-bottomsheet-component></contactinfo-bottomsheet-component>
    </div>
    <div class="hamburger-menu">
      <div (click)="expandMenu()">
        <span class="cheese" style="margin-bottom:1px;"></span>
        <span class="cheese" style="margin-bottom:6px;"></span>
        <span class="cheese" style="margin-bottom:20px;"></span>
      </div>
      <div class="condiments"> 
        <ul class="hamburger-meat">
          <li><button>New Employee</button></li>
        </ul>
      </div>
    </div>
</div>
  