<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="content" role="main">
  <img
    class="backgroundImg"
  />
  <div class="powershellHeader">
      <div>
        <span>● ● ●   </span>
        <span>Positive Dev Solutions</span>
      </div>  
      <div class="powershellConsole">
          <span class="powershellText">
            C:\ >  We strive to provide the best software solution for your company.
          </span>
      </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
<router-outlet></router-outlet>