<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="content" role="main">
  <img
    src="../assets/images/PosDev_BackgroundImage.svg"
    class="schpeelImg"
  />
  <div class="powershellHeader">
      <div>
        <span>Positive Dev Solutions   </span>
        <span class="wingdingText" style="align-items: right;">● ● ●</span>
      </div>  
      <div class="powershellConsole">
          <span class="powershellText">
            C:\ >  We strive to provide the best software solution for your company.
          </span>
      </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>

<router-outlet></router-outlet>